JWT_SECRET=your_jwt_secret_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tms_app
DB_USER=your_postgres_username
DB_PASSWORD=your_postgres_password
ROUTE_MATRIX_URL=https://api.geoapify.com/v1/routematrix?apiKey=YOUR_API_KEY
FORWARD_GEOCODE_API_URL_PREFIX=https://api.geoapify.com/v1/geocode/search?text=
FORWARD_GEOCODE_API_URL_SUFFIX=&format=json&apiKey=YOUR_API_KEY
GOOGLE_APP_PASSWORD=your_gmail_app_password
GOOGLE_USER=your_google_user_account
ROUTING_API_PREFIX=https://api.geoapify.com/v1/routing?
GEOAPIFY_API_KEY=YOUR_API_KEY
REFRESH_TOKEN_SECRET=SECRET
NODE_ENV=development
ERP_API_URL=http://localhost:3000
ERP_API_KEY=API_KEY
